body{
    text-align: center;
    background-color: rgb(0, 32, 4);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#calculator_body{
    border: 2px solid white;
    height: 85%;
    margin: 1% 35%;
    background-color: rgb(0, 121, 72);
}

#display_box{
    border: 2px solid black;
    height: 100px;
    margin: 3%;
    background-color: white;
    color: black;
}

#display_text{
    margin:4% 5%;
    text-align: right;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
#display_result{
    margin:4% 5%;
    text-align: right;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.gt4{
    display: grid;
    grid-template-columns: 20%;
    margin: 5% 5%;
}

button{
    height: 5vw;
    width: 5vw;
    background-color: gainsboro;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1.5vw;
    margin-top: 1%;
}
button:hover{
    background-color: rgb(168, 168, 168);
}
button:active{
    transform: scale(0.9);
}

#calculate{
    width: 8vw;
    margin-top: 3%;
}